.statusBar {
  display: flex;
  width: 100%;
  /* height: 42px; */
  border-bottom: #29487d;
  background-color: #4267b2;
  margin-bottom: 20px;
  padding: 5px 0;
}
.statusBar button {
   display: flex;
   background-color: transparent;
   border: 2px solid var(--paletteColor5);
   margin: auto;
   border-radius: 10px;
   padding: 5px 25px;
}
.statusBar img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border: 1px solid var(--paletteColor5);
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}
.statusBar span {
    align-self: center;
    color: white;
}
.status {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 70px;
    min-width: max-content;
    height: 24px;
    background: #e9ebee;
    left: 5px;
    color: #365899;
    border: 1px solid #365899;
    border-radius: 5px;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
}
.status span {
        width: 9px;
        height: 9px;
        border-radius: 50%;
}
.online span {
        background: #578843;
        box-shadow: 0 0 2px #578843;
}

 .offline span {
        background: #f40009;
        box-shadow: 0 0 2px #f40009;
}
